.root {
    -fx-background-color: #f0f2f5;
    -fx-font-family: "Segoe UI", sans-serif;
}

/*для VBox слева */
.left-panel {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
}

/* Верхняя панель */
.top-bar {
    -fx-background-color: #212f3d;
    -fx-padding: 15;
    -fx-alignment: center-left;
}
.title {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* список пользователей */
#userList {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdde1;
    -fx-border-width: 1;
    -fx-padding: 5;
}
#userList .list-cell {
    -fx-font-size: 14px;
    -fx-padding: 10;
}
#userList .list-cell:selected {
    -fx-background-color: #dcdde1;
}

/* Область чата */
.chat-area {
    -fx-background-color: #f0f0f0;
    -fx-border-color: transparent;
}
#chatBox {
    -fx-background-color: transparent;
}

/* Уведомления */
.notif-area {
    -fx-background-color: #f5f6fa;
    -fx-border-color: #dcdde1;
    -fx-border-width: 1;
}
#messageBox {
    -fx-background-color: transparent;
}

/* Нижняя панель */
.bottom-bar {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdde1;
    -fx-border-width: 1px 0 0 0;
}

/* Кнопка */
.button {
    -fx-background-color: #212f3d;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 8;
}
.button:hover {
    -fx-background-color: #5d6d7e ;
}

/* Поле ввода */
.text-field {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #dcdde1;
    -fx-padding: 8;
}

/* Сообщение входящее */
.message-in {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-padding: 8 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 0.0, 0, 1);
}

/* Сообщение исходящее */
.message-out {
    -fx-background-color: #dff9fb;
    -fx-background-radius: 8;
    -fx-padding: 8 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 0.0, 0, 1);
}

/* Имя отправителя */
.sender-label {
    -fx-font-weight: bold;
    -fx-text-fill: #555;
}


.theme-toggle {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}
.theme-toggle:selected {
    -fx-text-fill: #ffdf00; /* Жёлтая луна */
}